# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Gradio cache
.gradio/
gradio_cached_examples/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp

# Jupyter Notebooks
.ipynb_checkpoints 